.row{
	width: 100%;
}

body
{
	font-size: 25px;
	background-color: lightgray;
	font-family: 'Indie Flower';
}

/** HEADER **/

.active{
  background-color: white;
}

#header-nav
{
	background-color: black;
	border-radius: 0;/**no rounded border**/
	border:0;
	min-height: 80px;
	max-height: 180px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-toggle{
	background-color:white;
}

.icon-bar{
	background-color:black;
}

#nav-list {
  margin-top: 30px;
}

#nav-list a {
	background-color: #ba8787;
  	color: white;
  	text-align: center;
}

#nav-list li{
	border-top: 1.5px solid white ;
	border-left: 1.5px solid white ;
	border-right: 1.5px solid white ;
}

#susbor{
	border-bottom: 1.5px solid white ;
	overflow: hidden;
}

.navbar-header button.navbar-toggle {
  border: 1.3px solid white;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */

/*main content*/

#main-content h1{
	margin-top: 40px;
	font-size: 50px;
	font-weight: 1000;
	text-transform: uppercase;
}

#chicken,#beef,#sushi{
	overflow: hidden;
	position: relative;
	margin: 20px;
	color: black;
	padding:10px;
}

#chicken{
	background-color: #efd1d1;
}

#beef{
	background-color: #a38989;
}

#sushi{
	background-color: #c7ddbd;
}

#chicken p, #beef p, #sushi p{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align:center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 1000;
}

@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.container{
		width: 100%;

	}
 
}

/********** Extra small devices only **********/
@media (max-width: 479px) {
	.container{
		width: 100%;
	}
  
}

